home.html
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    
    <title>Cost Automation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
</head>
<body>
<div class="navbar">
        {% load static %}
          <a href="#"><img src="{% static 'img/logo.png' %}" width="55" height="30"></a>
           <div class="navbar-centered">
            <a href="#home">Dashboard</a>
            
          </div>
          <form class="logout-form" action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Logout</button>
        </form>
        </div>
<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a onclick="window.location.href='{% url 'new_form' %}'" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Managed Services Scoping form
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a onclick="window.location.href='{% url 'implement' %}'" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Implementation Form
        </div>

        
      </a>
    </div>

    <div class="ag-courses_item">
      <a onclick="window.location.href='{% url 'reports' %}'" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Reports
        </div>

        
      </a>
    </div>

    <div class="ag-courses_item">
      <a onclick="window.open('/admin/', '_blank')" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Admin Page
        </div>
      </a>
    </div>
    
  </div>
</div>
</body>
</html>



