{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    
    <title>Cost Automation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <div class="navbar">
        {% load static %}
          <a href="#"><img src="{% static 'img/logo.png' %}" width="55" height="30"></a>
           <div class="navbar-centered">
            <a href="#home">Managed Services Cost Analysis</a>
          </div>
        </div>
    <div class="split-container">
        <div class="split-left">
            <div class="title">Scoping Form</div><br>
      <form method="POST" autocomplete="on">   
        {% csrf_token %}      
        {% comment %} Customer name {% endcomment %}
    		<div class="box">
          <label for="CustomerName" class="fl fontLabel"> Customer Name: </label>
    			
    			<div class="fr">
    					<input type="text" name="CustomerName" placeholder="Customer Name"
              class="textBox" autofocus="on" required>
    			</div>
    			<div class="clr"></div>
    		</div>
         {% comment %}Project name{% endcomment %}
    		<div class="box">
          <label for="ProjectName" class="fl fontLabel"> Project Name: </label>
    			
    			<div class="fr">
    					<input type="text" required name="ProjectName" placeholder="Project Name" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>

        {% comment %}-Project Description--{% endcomment %}
          <div class="box1">
        <label for="Description" class="fl fontLabel"> Project Description: </label>
          
              <div class="fr">
                      <textarea name="Description" rows="6" cols="50" maxlength="600" class="textarea"></textarea><br>
              </div>
              <div class="clr"></div>
          </div>

           {% comment %}-Customer Location--{% endcomment %}
      <div class="box">
        <label for="Location" class="fl fontLabel"> Customer Location: </label>
              
              <div class="fr">
                      <input type="text" required name="Location" placeholder="Customer Location" class="textBox">
              </div>
              <div class="clr"></div>
          </div>

          {% comment %}-Received Date--{% endcomment %}
          <div class="box">
        <label for="ReceivedDate" class="fl fontLabel"> Received Date: </label>
              
              <div class="fr">
                      <input type="date" required name="ReceivedDate" class="textBox">
              </div>
              <div class="clr"></div>
          </div>

          {% comment %}-Submission Date--{% endcomment %}
          <div class="box">
        <label for="SubmissionDate" class="fl fontLabel"> Submission Date: </label>
              
              <div class="fr">
                      <input type="date" required name="SubmissionDate" class="textBox">
              </div>
              <div class="clr"></div>
          </div>

    		{% comment %}-Project Status----{% endcomment %}
    		<div class="box">
                <label for="ProjectStatus" class="fl fontLabel"> Project Status: </label>
                <div class="fr">
                    <select required name="ProjectStatus" placeholder="Project Status" class="textBox">
                        <option value="Active" class="textBox">Active</option>
                        <option value="Cancelled" class="textBox">Cancelled</option>
                        <option value="Closed" class="textBox">Closed</option>
                        <option value="Dropped" class="textBox">Dropped</option>
                        <option value="Hold" class="textBox">Hold</option>
                        <option value="Lost" class="textBox">Lost</option>
                        <option value="Passive" class="textBox">Passive</option>
                        <option value="Submitted" class="textBox">Submitted</option>
                        <option value="Won" class="textBox">Won</option>
                      </select>
            </div>
            <div class="clr"></div>
                
                  </div>
            {% comment %}-Margin %--{% endcomment %}
    		<div class="box">
          <label for="Margin" class="fl fontLabel"> Margin %: </label>
    			
    			<div class="fr">
    					<input type="number" min="0" required name="Margin" placeholder="Margin %" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		
    		{% comment %}-Penalty Risk----{% endcomment %}
    		<div class="box">
          <label for="PenaltyRisk" class="fl fontLabel"> Penalty Risk %: </label>
    			
    			<div class="fr">
    					<input type="number" min="0" required name="PenaltyRisk" placeholder="Penalty Risk" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>

            {% comment %}Windows VM's{% endcomment %}
    		<div class="box">
                <label for="WindowsVM" class="fl fontLabel"> No of Windows VM's: </label>
                      
                      <div class="fr">
                              <input type="number" min="0" name="WindowsVM" placeholder="Windows VM's" class="textBox" autofocus="on" required>
                      </div>
                      <div class="clr"></div>
                  </div>
                  
                  {% comment %}-OnCall---{% endcomment %}
    		<div class="box radio">
                <label for="OnCall" class="fl fontLabel"> OnCall Required: </label>
                          <input type="radio" name="OnCall" value="Yes" required> Yes &nbsp; &nbsp; &nbsp; &nbsp;
                          <input type="radio" name="OnCall" value="No" required> No
                  </div>
                  
              {% comment %}Linux VM's{% endcomment %}
                  <div class="box">
                <label for="LinuxVM" class="fl fontLabel"> No of Linux VM's: </label>
                      
                      <div class="fr">
                              <input type="number" min="0" required name="LinuxVM" placeholder="Linux VM's" class="textBox">
                      </div>
                      <div class="clr"></div>
                  </div>
                
                  {% comment %}-RDBM DB's----{% endcomment %}
                  <div class="box">
                <label for="RDBMdB" class="fl fontLabel"> NO of RDBM DB's: </label>
                      
                      <div class="fr">
                              <input type="number" min="0" required name="RDBMdB" maxlength="10" placeholder="RDBM DB's" class="textBox">
                      </div>
                      <div class="clr"></div>
                  </div>
                  
                  {% comment %}-NOSQL DB's--{% endcomment %}
                  <div class="box">
                <label for="NOSQLdB" class="fl fontLabel"> No of NOSQL DB's: </label>
                      
                      <div class="fr">
                              <input type="number" min="0" required name="NOSQLdB" placeholder="NOSQL DB's" class="textBox">
                      </div>
                      <div class="clr"></div>
                  </div>
                   {% comment %}-network devices----{% endcomment %}
                  <div class="box">
                <label for="NetworkDevices" class="fl fontLabel"> No of network devices/vNets: </label>
                      
                      <div class="fr">
                              <input type="number" min="0" required name="NetworkDevices" placeholder="Network Devices" class="textBox">
                      </div>
                      <div class="clr"></div>
                  </div>

                  {% comment %}Storage capacity{% endcomment %}
    		<div class="box">
                <label for="StorageCapacity" class="fl fontLabel"> Total Storage capacity-TB: </label>
                      
                      <div class="fr">
                              <input type="number" min="0" name="StorageCapacity" placeholder="Storage Capacity" class="textBox" autofocus="on" required>
                      </div>
                      <div class="clr"></div>
                  </div>
      
              {% comment %}-Support Window---{% endcomment %}
    		<div class="box">
                <label for="SupportWindow" class="fl fontLabel"> Support Window: </label>
                <div class="fr">
                    <select required name="SupportWindow" placeholder="Support Window" class="textBox">
                        <option value="8x5" class="textBox">8x5</option>
                        <option value="24x7" class="textBox">24x7</option>
                        <option value="16x5" class="textBox">16x5</option>
                      </select>
            </div>
            <div class="clr"></div>
                  </div>
                  {% comment %}-YoY Increment----{% endcomment %}
                  <div class="box">
                <label for="YoYIncrement" class="fl fontLabel"> YoY Increment: </label>
                      
                      <div class="fr">
                              <input type="number" min="0" required name="YoYIncrement" maxlength="10" placeholder="YoY Increment" class="textBox">
                      </div>
                      <div class="clr"></div>
                  </div>
      
                  {% comment %}-no of AD--{% endcomment %}
                  <div class="box">
                <label for="noOfAD" class="fl fontLabel"> IF Active Directory is in scope, no. of AD: </label>
                      
                      <div class="fr">
                              <input type="number" min="0" required name="noOfAD" placeholder="No. of AD" class="textBox">
                      </div>
                      <div class="clr"></div>
                  </div>
      
                  {% comment %}-Contract duration---{% endcomment %}
    		<div class="box">
                <label for="ContractDuration" class="fl fontLabel"> Contract duration in no of years: </label>
                <div class="fr">
                    <select required name="ContractDuration" placeholder="Contract Duration" class="textBox">
                        <option value="1" class="textBox">1</option>
                        <option value="2" class="textBox">2</option>
                        <option value="3" class="textBox">3</option>
                        <option value="4" class="textBox">4</option>
                        <option value="5" class="textBox">5</option>
                        <option value="6" class="textBox">6</option>
                        <option value="7" class="textBox">7</option>
                        <option value="8" class="textBox">8</option>
                        <option value="9" class="textBox">9</option>
                        <option value="10" class="textBox">10</option>
                      </select>
            </div>
            <div class="clr"></div>
                
                  </div>
                  {% comment %}-DR In Scope---{% endcomment %}
    		<div class="box">
                <label for="TypeOfDC" class="fl fontLabel"> Type of DC: </label>
                <div class="fr">
                    <select required name="TypeOfDC" placeholder="Type of DC" class="textBox">
                        <option value="Private Cloud" class="textBox">Private Cloud</option>
                        <option value="Public Cloud" class="textBox">Public Cloud</option>
                      </select>
            </div>
            <div class="clr"></div>
                
                  </div>

                  {% comment %}-Priavte Cloud Hosts----{% endcomment %}
                  <div class="box">
                    <label for="PriavteCloudHosts" class="fl fontLabel"> No of Priavte Cloud Hosts: </label>
                          
                          <div class="fr">
                                  <input type="number" min="0" required name="PriavteCloudHosts" placeholder="Priavte Cloud Hosts" class="textBox">
                          </div>
                          <div class="clr"></div>
                      </div>

                      {% comment %}-Converged Platform---{% endcomment %}
    		<div class="box radio">
                <label for="ConvergedPlatform" class="fl fontLabel"> Hyper Converged Platform used: </label>
                          <input type="radio" name="ConvergedPlatform" value="Yes" required> Yes &nbsp; &nbsp; &nbsp; &nbsp;
                          <input type="radio" name="ConvergedPlatform" value="No" required> No
                  </div>
                  {% comment %}-DR In Scope---{% endcomment %}
<div class="box radio">
    <label for="DRInScope" class="fl fontLabel"> DR In Scope: </label>
              <input type="radio" name="DRInScope" value="Yes" required> Yes &nbsp; &nbsp; &nbsp; &nbsp;
              <input type="radio" name="DRInScope" value="No" required> No
      </div>

                  {% comment %}-Servers for DR----{% endcomment %}
      <div class="box">
        <label for="ServersforDR" class="fl fontLabel"> No of Servers for DR: </label>
              
              <div class="fr">
                      <input type="number" min="0" required name="ServersforDR" placeholder="Servers for DR" class="textBox">
              </div>
              <div class="clr"></div>
          </div>

          {% comment %}-DR Drills----{% endcomment %}
      <div class="box">
        <label for="DRdrills" class="fl fontLabel"> No of DR Drills per year: </label>
              
              <div class="fr">
                      <input type="number" min="0" required name="DRdrills" placeholder="DR Drills" class="textBox">
              </div>
              <div class="clr"></div>
          </div>
          {% comment %}-Complexity---{% endcomment %}
<div class="box">
    <label for="Complexity" class="fl fontLabel"> Complexity: </label>
    <div class="fr">
        <select required name="Complexity" placeholder="Complexity" class="textBox">
            <option value="low" class="textBox">Low</option>
            <option value="medium" class="textBox">Medium</option>
            <option value="high" class="textBox">High</option>
          </select>
</div>
<div class="clr"></div>
    
      </div>
      
          {% comment %}-Monitoring---{% endcomment %}
<div class="box radio">
    <label for="Monitoring" class="fl fontLabel"> Monitoring in Scope: </label>
              <input type="radio" name="Monitoring" value="Yes" required> Yes &nbsp; &nbsp; &nbsp; &nbsp;
              <input type="radio" name="Monitoring" value="No" required> No
      <div class="clr"></div>
    
      </div>
      
      {% comment %}-Patching---{% endcomment %}
<div class="box radio">
    <label for="Patching" class="fl fontLabel"> Patching in scope: </label>
              <input type="radio" name="Patching" value="Yes" required> Yes &nbsp; &nbsp; &nbsp; &nbsp;
              <input type="radio" name="Patching" value="No" required> No
      <div class="clr"></div>
    
      </div>
      
      {% comment %}-ITSM services---{% endcomment %}
<div class="box radio">
    <label for="ITSMservices" class="fl fontLabel"> ITSM services in Scope: </label>
              <input type="radio" name="ITSMservices" value="Yes" required> Yes &nbsp; &nbsp; &nbsp; &nbsp;
              <input type="radio" name="ITSMservices" value="No" required> No
      </div>
      
      {% comment %}-IPC Management---{% endcomment %}
<div class="box radio">
    <label for="IPCManagement" class="fl fontLabel"> IPC Management in Scope: </label>
              <input type="radio" name="IPCManagement" value="Yes" required> Yes &nbsp; &nbsp; &nbsp; &nbsp;
              <input type="radio" name="IPCManagement" value="No" required> No
      </div>
      {% comment %}-Travel---{% endcomment %}
<div class="box radio">
    <label for="Travel" class="fl fontLabel"> Travel Required: </label>
              <input type="radio" name="Travel" value="Yes" required> Yes &nbsp; &nbsp; &nbsp; &nbsp;
              <input type="radio" name="Travel" value="No" required> No
      </div>
      
      {% comment %}-Governance Support---{% endcomment %}
<div class="box radio">
    <label for="GovernanceSupport" class="fl fontLabel"> Management Governance Support: </label>
              <input type="radio" name="GovernanceSupport" value="Yes" required> Yes &nbsp; &nbsp; &nbsp; &nbsp;
              <input type="radio" name="GovernanceSupport" value="No" required> No
      </div>
      {% comment %}-TCV--{% endcomment %}
    		<div class="box">
          <label for="TCV" class="fl fontLabel"> TCV (in Crore): </label>
    			
    			<div class="fr">
    					<input type="number" min="0" required name="TCV" placeholder="TCV" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
     
    		{% comment %}-Submit Button----{% endcomment %}
    		<div class="box" style="background: #F1F1F1">
    				<input type="Submit" name="Submit" class="submit" value="SUBMIT">
    		</div>
    		
      </form>
 
        </div>
        <div class="split-right">
            <div class="title">Cost Analysis</div><br>
            <h2>Final Cost</h2>
            <p id="finalCostDisplay">Final Cost: {{ final_cost }}</p>
        </div>
    </div>




</body>

</html>
