{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
              <h2 class="card-title">Reset your password</h2>
              <small class="card-title">(Check your mail)</small>

              <p>We’ve sent an email with instructions to reset your password. If you don’t receive the email within a few minutes, check your spam folder.</p>
              
                  
              </form>
          </div>
      </div>


   
</body>
</html>
