{% comment %} <h2>Reset Your Password</h2>
<form method="POST">
    {% csrf_token %}
    <label for="new_password1">New Password:</label>
    <input type="password" id="new_password1" name="new_password1" required>
    <label for="new_password2">Confirm New Password:</label>
    <input type="password" id="new_password2" name="new_password2" required>
    <button type="submit">Reset Password</button>
</form> {% endcomment %}




{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
              <h2 class="card-title">Reset your password</h2>
              
              <form class="card-form" method="POST">
                {% csrf_token %}
                <label for="new_password1">New Password:</label>
                  <div class="card-input-container username">
                    <input type="password" id="new_password1" name="new_password1" required>
                  </div>
                  <label for="new_password2">Confirm New Password:</label>
                  <div class="card-input-container username">
                    <input type="password" id="new_password2" name="new_password2" required>
                  </div>
                



                  <button type="submit" class="card-button">Reset Password</button>
                  
              </form>
          </div>
      </div>


   
</body>
</html>
